#main-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#solicitation-container {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#output-message-container {
    display: flex;
    flex-direction: column;
}

.output-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.output-navbar div {
    display: flex;
    gap: 10px;
}