html {
    padding: 15px;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}